<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="principal">
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/reality-icon.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootsnav.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/cubeportfolio.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.fancybox.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/owl.transitions.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/settings.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/range-Slider.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/search.css}">
        <link rel="icon" th:href="@{/images/icon.png}">
        <link rel="stylesheet" href="https://unpkg.com/animate.css/animate.css" type="text/css" />
        <link rel="stylesheet" href="https://unpkg.com/rmodal/dist/rmodal.css" type="text/css" />
    </div>
</head>
<body>

</body>
</html>