<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Umuhuza | Province</title>
    <div class="" th:replace="includes/styles/index :: principal"></div>
</head>
<style>
    .search_options{
        color: #0a3d48;
        padding: 20px;
        font-size: 16px;
    }
</style>
<body>
<div class="loader">
    <div class="span">
        <div class="location_indicator"></div>
    </div>
</div>
<!--Header-->
<header class="layout_default">
    <div class="topbar grey">
        <div class="container">
            <div class="row">
                <div class="col-md-5">

                </div>
                <div class="col-md-7 text-right">
                    <ul class="breadcrumb_top text-right">
                        <li><a href="/"><i class="icon-icons179"></i>Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-upper">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="logo"><a href="#" style="font-size: 25px">Umuhuza</a></div>
                </div>
                <!--Info Box-->
                <div class="col-md-9 col-sm-12 right">

                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-sticky bootsnav">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand sticky_logo" href="/">Umuhuza</a>
                    </div> <!-- End Header Navigation -->
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav" data-in="fadeIn" data-out="fadeOut">
                            <li class="dropdown">
                                <a href="#." class="dropdown-toggle" data-toggle="dropdown">Property</a>
                                <ul class="dropdown-menu">
                                    <li><a href="property_data">Property type</a></li>
                                    <li><a href="listing_type">Listing type</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<!--Header Ends-->
<div class="row">
    <div class="col-sm-6">
        <form class="callus clearfix border_radius">
            <div class="col-sm-12">
                <p>
                    <span class="location_title">Listing type</span>
                </p>
                <p>
                    <span id="server_response"></span>
                </p>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="single-query form-group top10">
                            <div class="intro">
                                <input type="text" id="listing_type_name" placeholder="Listing type" class="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="single-query form-group top10">
                            <div class="intro">
                                <input type="button" class="btn btn-success" onclick="addListingType()" value="Save" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </form>
    </div>
    <div id="available_data" class="col-sm-6"></div>
</div>

<!--Partner Ends-->
<!--Footer-->
<footer class="padding_top footer2">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="footer_panel bottom30">
                    <h4 class="bottom30">Sales</h4>
                    <ul class="area_search">
                        <li><a href="javascript:void(0)">Houses</a></li>
                        <li class="active"><a href="javascript:void(0)">Apartments</a></li>
                        <li><a href="javascript:void(0)">Land</a></li>
                        <li><a href="javascript:void(0)">Offices</a></li>
                        <li><a href="javascript:void(0)">Shops</a></li>
                        <li><a href="javascript:void(0)">Warehouse</a></li>
                        <li><a href="javascript:void(0)">Bars / Restaurants</a></li>
                        <li><a href="javascript:void(0)">Hotel</a></li>
                        <li><a href="javascript:void(0)">Leisure</a></li>
                        <li><a href="javascript:void(0)">Medical</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer_panel bottom30">
                    <h4 class="bottom30">Rentals</h4>
                    <ul class="area_search">
                        <li><a href="javascript:void(0)">Houses<i class="icon-icons74"></i></a></li>
                        <li class="active"><a href="javascript:void(0)">Apartments</a></li>
                        <li><a href="javascript:void(0)">Offices</a></li>
                        <li><a href="javascript:void(0)">Hotel</a></li>
                        <li><a href="javascript:void(0)">Shops</a></li>
                        <li><a href="javascript:void(0)">Warehouse</a></li>
                        <li><a href="javascript:void(0)">Leisure</a></li>
                        <li><a href="javascript:void(0)">Medical</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer_panel bottom30">
                    <h4 class="bottom30">Real estate consultancy</h4>
                    <ul class="area_search">
                        <li><a href="javascript:void(0)">Agency / Brokerage</a></li>
                        <li class="active"><a href="#">Property management</a></li>
                        <li><a href="javascript:void(0)">Property valuation</a></li>
                        <li><a href="javascript:void(0)">Land vs master plan advisory</a></li>
                        <li><a href="javascript:void(0)">Real estate development</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer_panel bottom30">
                    <h4 class="bottom30">Civil engineering consultancy</h4>
                    <ul class="area_search">
                        <li><a href="javascript:void(0)">Construction project study</a></li>
                        <li class="active"><a href="javascript:void(0)">Construction supervision</a></li>
                        <li><a href="javascript:void(0)">Construction management</a></li>
                        <li><a href="javascript:void(0)">Application of construction permit</a></li>
                        <li><a href="javascript:void(0)">Topography, GIS & Mapping</a></li>
                        <li><a href="javascript:void(0)">Medical</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<section>
    <div class="row" style="background-color: #082b34; padding: 10px">
        <div class="col-sm-2" style="text-align: center">
            <a href="#." style="color: #FFFFFF" class="dropdown-toggle" data-toggle="dropdown">About</a>
        </div>
        <div class="col-sm-2" style="text-align: center">
            <a href="#"style="color: #FFFFFF" class="dropdown-toggle" data-toggle="dropdown">Contact</a>
        </div>
        <div class="col-sm-2" style="text-align: center">
            <a href="#" style="color: #FFFFFF" class="dropdown-toggle" data-toggle="dropdown">Popular search</a>
        </div>
        <div class="col-sm-2" style="text-align: center">
            <a href="#" style="color: #FFFFFF" class="dropdown-toggle" data-toggle="dropdown">FAQs</a>
        </div>
        <div class="col-sm-2" style="text-align: center">
            <a href="#" style="color: #FFFFFF" class="dropdown-toggle" data-toggle="dropdown">Services</a>
        </div>
        <div class="col-sm-2" style="text-align: center">
            <a href="#" style="color: #FFFFFF" class="dropdown-toggle" data-toggle="dropdown">Advertise</a>
        </div>
    </div>
</section>
<!--CopyRight-->
<div class="copyright index2">
    <div class="copyright_inner">
        <div class="container">

            <div class="row">
                <div class="col-md-7">
                    <p>Copyright &copy; 2018 <span>Mu rugo</span>. All rights reserved.</p>
                </div>
                <div class="col-md-5 text-right">
                    <p>Designed by <a href="javascript:void(0)">Joseph MANZI</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<div class="" th:replace="includes/scripts/index :: principal"></div>
</body>
</html>
<script>
    $(document).ready(function () {
        loadListingTypeData();
    })

    window.onload = function() {
        var modal = new RModal(document.getElementById('modal'), {
            //content: 'Abracadabra'
            beforeOpen: function(next) {
                console.log('beforeOpen');
                next();
            }
            , afterOpen: function() {
                console.log('opened');
            }

            , beforeClose: function(next) {
                console.log('beforeClose');
                next();
            }
            , afterClose: function() {
                console.log('closed');
            }

        });

        document.addEventListener('keydown', function(ev) {
            modal.keydown(ev);
        }, false);

        var loginModal = new RModal(document.getElementById('login_modal'), {
            //content: 'Abracadabra'
            beforeOpen: function(next) {
                console.log('beforeOpen');
                next();
            }
            , afterOpen: function() {
                console.log('opened');
            }

            , beforeClose: function(next) {
                console.log('beforeClose');
                next();
            }
            , afterClose: function() {
                console.log('closed');
            }

        });

        document.addEventListener('keydown', function(ev) {
            loginModal.keydown(ev);
        }, false);

        window.modal = modal;
        window.loginModal = loginModal;

    }
    function showSearchModal(){
        modal.open();
    }
    function showLoginModal(){
        loginModal.open();
    }
</script>