<div class="col-sm-12">
    <p><span class="offer_title">Property category</span></p>
    <div class="col-sm-4">
        <div class="single-query form-group top10">
            <div class="intro">
                <select>
                    <option selected="" value="any">Select type of unit</option>
                    <option>Retail</option>
                    <option>Warehouse </option>
                    <option>Show room</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <p><span class="offer_title">Pricing</span></p>
    <div class="col-sm-4">
        <div class="single-query form-group top10">
            <div class="intro">
                <select>
                    <option selected="" value="any">Pricing mode</option>
                    <option>3000 Rwf monthly / entire space</option>
                    <option>4000 Rwf monthly / square meter </option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="single-query form-group top10">
            <div class="intro">
                <select>
                    <option selected="" value="any">1400 Rwf / per day</option>
                    <option>1500 Rwf / per hour</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="single-query form-group top10">
            <div class="intro">
                <select>
                    <option selected="" value="any">1000 / entire property</option>
                    <option>7888 Rwf / square meter</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <p><span class="offer_title">Basic details</span></p>
    <div class="col-sm-4">
        <div class="single-query form-group top10">
            <div class="intro">
                <input type="text" class="keyword-input" placeholder="Bed room">
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="single-query form-group top10">
            <div class="intro">
                <input type="text" class="keyword-input" placeholder="Bathroom">
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="single-query form-group top10">
            <div class="intro">
                <select>
                    <option selected="" value="any">Furnishing</option>
                    <option>Fully furnished</option>
                    <option>Equipped</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <p><span class="offer_title">Other rooms</span></p>
    <div class="col-sm-4">
        <div class="col-sm-6">
            <div class="single-query form-group top10">
                <div class="intro">
                    <select>
                        <option selected="" value="any">Sitting room</option>
                        <option>Other rooms</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="single-query form-group top10">
                <div class="intro">
                    <select>
                        <option selected="" value="any">Inside kitchen</option>
                        <option>Outside kitchen</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="col-sm-6">
            <div class="single-query form-group top10">
                <div class="intro">
                    <select>
                        <option selected="" value="any">Kitchen (out)</option>
                        <option>Another kitchen</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="single-query form-group top10">
                <div class="intro">
                    <select>
                        <option selected="" value="any">Store room</option>
                        <option>Another store room</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="col-sm-6">
            <div class="single-query form-group top10">
                <div class="intro">
                    <select>
                        <option selected="" value="any">Domestic staff quarter</option>
                        <option>Another quarter</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="single-query form-group top10">
                <div class="intro">
                    <select>
                        <option selected="" value="any">Extra room</option>
                        <option>Another extra room</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <p><span class="offer_title">Other details</span></p>
    <div class="col-sm-4">
        <div class="single-query form-group top10">
            <div class="intro">
                <input type="text" class="keyword-input" placeholder="Enter land size (Square meter)">
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="single-query form-group top10">
            <div class="intro">
                <input type="text" class="keyword-input" placeholder="Enter build date">
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="col-sm-6">
            <div class="single-query form-group top10">
                <div class="intro">
                    Booked from <input type="date" class="keyword-input">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="single-query form-group top10">
                <div class="intro">
                    To <input type="date" class="keyword-input">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <p>Add another unit category</p>
    <div class="col-sm-10">
        <input type="text" placeholder="Add another unit category" class="keyword-input"/>
    </div>
    <div class="col-lg-2">
        <input type="button" class="btn btn-default" value="Add"/>
    </div>
</div>
<div class="col-sm-12 description">
    <p><span class="offer_title">Description</span></p>
    <div class="col-sm-12">
        <div class="single-query form-group top10">
            <div class="intro">
                <textarea rows="3" class="keyword-input form-control col-sm-12" placeholder="Description"></textarea>
            </div>
        </div>
    </div>
</div>