<div class="col-sm-12">
    <p><span class="offer_title">Property type</span></p>
    <div class="col-sm-4">
        <div class="single-query form-group top10">
            <div class="intro">
                <select>
                    <option selected="" value="any">Select land use (zoning) category</option>
                    <option>Semi detached house</option>
                    <option>Town house</option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="single-query form-group top10">
            <div class="intro">
                <select>
                    <option selected="" value="any">Select land use (zoning) sub category</option>
                    <option>Multi family house</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="single-query form-group top10">
            <div class="intro">
                <select>
                    <option selected="" value="any">Upload zoning regulation</option>
                    <option>Bangalow (Non-storey house)</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <p><span class="offer_title">Basic details</span></p>
    <div class="col-sm-4">
        <div class="single-query form-group top10">
            <div class="intro">
                <input type="text" class="keyword-input" placeholder="Parcel ID (Plot no)">
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="single-query form-group top10">
            <div class="intro">
                <input type="text" class="keyword-input" placeholder="UPI">
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="single-query form-group top10">
            <div class="intro">
                <input type="text" class="keyword-input" placeholder="Area (Square cm)" />
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <p><span class="offer_title">Pricing</span></p>
    <div class="col-sm-4">
        <div class="single-query form-group top10">
            <div class="intro">
                <select>
                    <option selected="" value="any">Pricing mode</option>
                    <option>3000 Rwf monthly / entire space</option>
                    <option>4000 Rwf monthly / square meter </option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="single-query form-group top10">
            <div class="intro">
                <select>
                    <option selected="" value="any">1400 Rwf / per day</option>
                    <option>1500 Rwf / per hour</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="single-query form-group top10">
            <div class="intro">
                <select>
                    <option selected="" value="any">1000 / entire property</option>
                    <option>7888 Rwf / square meter</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <p><span class="offer_title">Administrative location</span></p>
    <div class="col-sm-4">

        <div class="single-query form-group top10">
            <div class="intro">
                <select>
                   <option selected="" value="any">District</option>
                      <option>District</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="col-sm-6">
            <div class="single-query form-group top10">
                <div class="intro">
                    <select>
                        <option selected="" value="any">Sector</option>
                        <option>Sector</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="single-query form-group top10">
            <div class="intro">
                <select>
                    <option selected="" value="any">Cell</option>
                    <option>Sector</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12 description">
    <p><span class="offer_title">Description</span></p>
    <div class="col-sm-12">
        <div class="single-query form-group top10">
            <div class="intro">
                <textarea rows="3" class="keyword-input form-control col-sm-12" placeholder="Description"></textarea>
            </div>
        </div>
    </div>
</div>